* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

// navbar
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 51px;
    background-color: #282a35;
    position: fixed;
    z-index: 10;
    color: white;
    font-family: 'Viga';
    text-decoration: none;

    .logos {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            cursor: pointer;
        }
    }

    .nav {
        display: flex;
        justify-content: space-evenly;
        width: 70%;

        a {
            color: white;
            text-decoration: none;
        }
    }

}

.container {
    padding-top: 50px;

    .box1,
    .box2,
    .box3,
    .box4 {
        height: 100vh;
        display: flex;
        justify-content: center;
        // align-items: center;
        position: sticky;

        a {
            margin-top: 70px;
            color: white;
            font-size: 2rem;
            font-family: 'Viga';
            text-decoration: none;
        }
    }

    .box1 {
        background-color: rgb(255, 72, 0);
    }

    .box2 {
        background-color: rgb(21, 252, 0);
    }

    .box3 {
        background-color: aqua;
    }

    .box4 {
        background-color: yellow;
    }
}